<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!--   Here you have other settings related to handlers.-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000" maxUrl="10241" maxQueryString="20481" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>